.wrapper {
    --search-top-spacer: 9px;
    --search-height: 46px;
    --search-width: 361px;
    --search-btn-width: 52px;
    

    width: 100%;
    height: var(--default-header-layout-height);
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);


}

.inner {
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px 0 20px;

   
}

.TikTok-logo{
    cursor: pointer;
}


// menu

.action {
    display: flex;
    align-items: center;

  
}

.more-btn {
    padding: 0 4px;
    margin-left: 16px;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
}

.action-btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    font-size: 22px;
    margin-left: 24px;
    cursor: pointer;
}

.user-login {
    display: flex;
    align-items: center;
}

.user-login-img {
    width: 32px;
    height: 32px;
    margin-left: 24px;
    border-radius: 50%;


}